// _black-palette.scss

/**
 * This is a very beautiful black palette that I found on Color Hunt
 * website and I'm going to user mostly on the administrator panel.
 */

$main-black: #252525;
$main-red: #FF0000;
$secondary-red: #AF0404;
$secondary-black: #414141;
