// administrator.scss
@use 'black-palette' as palette;

body {
  background-color: palette.$main-black;
  color: white;
}

/**
 * Top Header
 */
.tab-btn {
  background-color: palette.$main-red;
  color: palette.$main-black;
  border-color: palette.$secondary-red;
}

/**
 * Users Table
 */
td {
  text-align: center;
  //border: 1px solid white;
  padding: 0.5rem 1.0rem;
}

#username {
  font-style: italic;
}
