<!-- Articles Card -->
<div id="articles-card" class="hidden tab-content">
  <!-- Action Buttons -->
  <div
    id="article-actions"
    class="flex flex-wrap justify-center md:px-6 md:py-4"
  >
    <button
      id="add-new-article"
      class="w-full bg-green-500 text-white border-b-4 lg:bg-transparent lg:hover:bg-green-500 lg:text-green-700 lg:font-semibold lg:hover:text-white lg:border lg:border-green-500 md:bg-green-500 md:hover:bg-green-700 md:text-white md:font-bold md:w-3/12 py-3 md:py-2 px-4 md:m-2 lg:m-4 md:rounded-full"
    >
      <i class="fas fa-plus ml-2"></i>
      ایجاد مقاله‌ی جدید
    </button>
    <button
      id="see-user-articles"
      class="w-full bg-green-500 text-white border-b-4 lg:bg-transparent lg:hover:bg-green-500 lg:text-green-700 lg:font-semibold lg:hover:text-white lg:border lg:border-green-500 md:bg-green-500 md:hover:bg-green-700 md:text-white md:font-bold md:w-3/12 py-3 md:py-2 px-4 md:m-2 lg:m-4 md:rounded-full"
    >
      <i class="fas fa-history ml-2"></i>
      مشاهده‌ی مقالات
    </button>
    <button
      id="see-liked-articles"
      class="w-full bg-green-500 text-white border-b-4 lg:bg-transparent lg:hover:bg-green-500 lg:text-green-700 lg:font-semibold lg:hover:text-white lg:border lg:border-green-500 md:bg-green-500 md:hover:bg-green-700 md:text-white md:font-bold md:w-3/12 py-3 md:py-2 px-4 md:m-2 lg:m-4 md:rounded-full"
    >
      <i class="fas fa-heart ml-2"></i>
      مقالات مورد علاقه
    </button>
  </div>

  <form id="article-form" class="hidden md:m-4" novalidate>
    <!-- Article's Title -->
    <div class="my-4 mx-4 md:mx-0">
      <label
        class="block text-gray-700 text-md font-bold mb-2"
        for="article-title"
      >
        عنوان مقاله
      </label>
      <input
        class="shadow appearance-none border rounded w-full md:w-auto py-2 px-3 text-gray-700 leading-tight focus:outline-none"
        id="article-title"
        type="text"
        placeholder="عنوان مقاله را انتخاب کن!"
        minlength="3"
        maxlength="50"
        size="50"
        required
      />
      <p
        id="article-title-error"
        class="hidden error text-red-500 text-sm italic mt-2"
      ></p>
    </div>

    <!-- Article Summary -->
    <div class="mb-4 mx-4 md:mx-0">
      <label
        class="block text-gray-700 text-md font-bold mb-2"
        for="article-summary"
        >خلاصه‌ی مقاله</label
      >
      <textarea
        dir="rtl"
        id="article-summary"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none"
        name="article-summary"
        rows="5"
        minlength="10"
        maxlength="150"
        placeholder="خلاصه‌ای درباره‌ی مقاله بنویس."
        required
      ></textarea>
      <p
        id="article-summary-error"
        class="hidden error text-red-500 text-sm italic"
      ></p>
    </div>

    <!-- TinyMCE Editor -->
    <div id="editor-container">
      <textarea id="editor"></textarea>
      <p
        id="article-content-error"
        class="hidden error text-red-500 text-sm italic mt-2"
      ></p>
    </div>

    <!-- Publish or Cancel the article -->
    <button
      type="button"
      id="cancel-article"
      class="w-full bg-red-500 text-white lg:border-b-4 lg:bg-transparent lg:hover:bg-red-500 lg:text-red-700 lg:font-semibold lg:hover:text-white lg:border lg:border-red-500 md:bg-red-500 md:hover:bg-red-700 md:text-white md:font-bold md:w-2/12 py-3 md:py-2 px-4 mt-4 md:ml-4 md:rounded"
    >
      منصرف شدم
    </button>

    <button
      type="submit"
      id="publish-article"
      class="w-full bg-gray-500 text-white lg:border-b-4 lg:bg-transparent lg:hover:bg-gray-500 lg:text-gray-700 lg:font-semibold lg:hover:text-white lg:border lg:border-gray-500 md:bg-gray-500 md:hover:bg-gray-700 md:text-white md:font-bold md:w-2/12 py-3 md:py-2 px-4 md:mt-4 md:ml-4 md:rounded"
    >
      انتشار مقاله
    </button>

    <!-- Close/Open Comments -->
    <div
      class="w-full text-center md:w-6/12 md:text-right inline-block mt-2 py-2"
    >
      <label class="text-black">
        <input id="close-comments" class="leading-tight" type="checkbox" />
        <span class="text-md leading-tight pt-4">
          نظرات برای این مقاله بسته باشند.
        </span>
      </label>
    </div>
  </form>
</div>
