<div 
  id="<%= article._id _%>" 
  class="article-card w-full lg:max-w-3xl lg:flex my-5 cursor-pointer hover:opacity-50"
>
  <img
    class="lg:h-auto lg:w-64 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-r text-center overflow-hidden"
    src="<%= article.image.src _%>"
    alt="<%= article.image.alt _%>"
    title="<%= article.title _%>"
  />
  <div
    class="w-full border-r border-b border-l border-gray-400 lg:border-r-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-l p-4 flex flex-col justify-between leading-normal"
  >
    <div class="mb-8">
      <% if (article.commentsOpen) { %>
        <p class="text-sm text-gray-600 flex items-center">
          <i class="fas fa-lock ml-2"></i>
          <span class="align-bottom">
            نظرات برای این پست بسته هستند.
          </span>
        </p>
      <% } %>
      <div class="text-gray-900 font-bold text-xl mb-2">
        <%= article.title _%>
      </div>
      <p class="text-gray-700 text-base">
        <%= article.summary _%>
      </p>
    </div>
    <div class="flex justify-between">
      <div class="flex items-center">
        <img
          class="w-10 h-10 rounded-full ml-4"
          src="/static/images/avatars/<%= article.author?.avatar %>"
          alt="عکس پروفایل <%= article.author?.firstName %> <%= article.author?.lastName %>"
        />
        <div class="text-sm">
          <p class="text-gray-900 leading-none">
            <%= article.author?.firstName %> <%= article.author?.lastName _%>
          </p>
          <p class="text-gray-600">
            <%= new Date(article.publishedOn).toLocaleDateString('fa-IR') %>
          </p>
        </div>
      </div>
      <div class="text-left mt-3 mr-2 text-gray-700">
        <%# Article Views %>
        <% if (article.score > 0) { %>
          <i class="fas fa-eye text-yellow-700"></i>
        <% } else { %>
          <i class="fas fa-eye text-gray-700"></i>
        <% } %>

        <%= article.views _%>

        <%# Article Score %>
        <% if (article.score > 0) { %>
          <i class="fas fa-star mr-2 text-green-700"></i>
        <% } else if (article.score < 0) { %>
          <i class="fas fa-star mr-2 text-red-700"></i>
        <% } else { %>
          <i class="fas fa-star mr-2 text-gray-700"></i>
        <% } %>

        <span dir="ltr"><%= article.score _%></span>

      </div>
    </div>
  </div>
</div>
