<div class="w-full lg:max-w-full lg:flex my-2">
  <div
    class="w-full border-r border-b border-l border-t border-gray-400 bg-white rounded p-4 flex flex-col justify-between leading-normal"
  >
    <div class="mb-8">
      <div class="text-gray-900 font-bold text-xl mb-2">
        <%= comment.article.title _%>
      </div>
      <p class="text-gray-700 text-base">
        <%= comment.text _%>
      </p>
    </div>
    <div class="flex justify-between">
      <div class="flex items-center">
        <img
          class="w-10 h-10 rounded-full ml-4"
          src="/static/images/avatars/<%= comment.commenter.avatar _%>"
          alt="تصویر پروفایل <%= comment.commenter.firstName %> <%= comment.commenter.lastName _%>"
        />
        <div class="text-sm">
          <p class="text-gray-900 leading-none">
            <%= comment.commenter.firstName %> <%= comment.commenter.lastName _%>
          </p>
          <p class="text-gray-600">
            <%= new Date(comment.createdAt).toLocaleTimeString('fa-IR') %>
            <%= new Date(comment.createdAt).toLocaleDateString('fa-IR') %>
          </p>
        </div>
      </div>
      <div class="text-left mt-3 mr-2 text-gray-700">
        <%# Comment Score %>
        <% if (comment.score > 0) { %>
          <i class="fas fa-star mr-2 text-green-700"></i>
        <% } else if (comment.score < 0) { %>
          <i class="fas fa-star mr-2 text-red-700"></i>
        <% } else { %>
          <i class="fas fa-star mr-2 text-gray-700"></i>
        <% } %>

        <span dir="ltr"><%= comment.score _%></span>
      </div>
    </div>
  </div>
</div>
