<!-- Page Title -->
<title><%= title _%></title>

<!-- Meta Tags -->
<meta name="description" content="<%= description _%>" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<%# For all CDNs, we used "cdnjs" and tried to use the "minified" versions
where possible. This helps with faster loading of the page. %>

<!-- Vazir Font -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/vazir-font/26.0.2/font-face.min.css"
  integrity="sha512-QSRUo6PG4WsQraAoF7zA5O50uXZkGxWp4opqrG3UBYv6VqVosYOywcDHQ8QftLijLVxDVL0CzdREUz5ILw7c6Q=="
  crossorigin="anonymous"
/>

<!-- Font Awesome -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
  integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA=="
  crossorigin="anonymous"
/>

<!-- Tailwind CSS -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.4.6/tailwind.min.css"
  integrity="sha512-EwudealwiJzjTSqcNVDuILbGKS8LE3FTwZ0zYGG2qhGmMoNMlPI1jmxmO84isvQW5GMu6HAiKVNKoXyv++VsoA=="
  crossorigin="anonymous"
/>

<!-- Common Styles -->
<link href="/static/stylesheets/main.css" rel="stylesheet" type="text/css" />
