<!-- Top Navigation -->
<nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6">
  <!-- Brand -->
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <span class="font-semibold text-xl tracking-tight">
      مدیریت محتوای فارسی
    </span>
  </div>

  <!-- Nav Items -->
  <div
    class="block md:flex-grow md:flex md:flex-end md:items-center md:w-auto"
  >
    <div class="text-sm md:flex-grow">
      <div class="text-sm lg:flex-grow">
        <a
          href="/"
          class="block mt-4 lg:inline-block md:mt-0 text-teal-200 hover:text-white mr-4"
        >
          صفحه اصلی
        </a>
      </div>
    </div>

    <!-- Dashboard Icon -->
    <% if (hasDashboard) { %>
    <div>
      <a
        href="/dashboard"
        class="inline-block text-sm px-4 py-2 leading-none md:border rounded-full text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white"
      >
        <i class="fas fa-user-circle text-xl md:text-lg"></i>
        <span class="hidden md:inline-block align-text-top"
          >داشبورد کاربری</span
        >
      </a>
    </div>
    <% } %>
  </div>
</nav>
