/**
 * This is a very beautiful black palette that I found on Color Hunt
 * website and I'm going to user mostly on the administrator panel.
 */
body {
  background-color: #252525;
  color: white;
}

/**
 * Top Header
 */
.tab-btn {
  background-color: #FF0000;
  color: #252525;
  border-color: #AF0404;
}

/**
 * Users Table
 */
td {
  text-align: center;
  padding: 0.5rem 1rem;
}

#username {
  font-style: italic;
}

/*# sourceMappingURL=administrator.css.map */
