<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
  <head>
    <%- include('../partials/head', { title: 'پنل مدیریت',description: '' }); %>

    <!-- Styles -->
    <link 
      rel="stylesheet" 
      type="text/css"
      href="/static/stylesheets/administrator.css" 
    />

    <!-- Scripts -->
    <script type="module" src="/static/javascripts/administrator.js"></script>
  </head>
  <body>
    <div class="w-full overflow-hidden shadow-lg m-auto">
      <!-- Card's Tob Bar -->
      <div id="top-bar" class="inline-flex w-full sticky top-0">
        <button
          id="users-btn"
          class="tab-btn w-1/4 hover:bg-red-400 border-b-4 font-bold py-2 px-4"
        >
          <i class="fas fa-users"></i>
        </button>
        <button
          id="articles-btn"
          class="tab-btn w-1/4 hover:bg-red-400 font-bold py-2 px-4 opacity-50"
        >
          <i class="fas fa-newspaper"></i>
        </button>
        <button
          id="comments-btn"
          class="tab-btn w-1/4 hover:bg-red-400 font-bold py-2 px-4 opacity-50"
        >
          <i class="fas fa-comments"></i>
        </button>
        <button
          id="exit-btn"
          class="tab-btn w-1/4 hover:bg-red-400 font-bold py-2 px-4 opacity-50"
        >
          <i class="fas fa-sign-out-alt"></i>
        </button>
      </div>

      <!-- Users Card -->
      <div id="profile-card" class="tab-content relative">
        <div
          id="profile-overview"
          class="flex flex-wrap justify-center sm:justify-start md:mt-4 px-12"
        >

          <!-- Users Information -->
          <table class="mt-4">
            <thead>
              <th>نام کاربری</th>
              <th>نام</th>
              <th>نام خانوادگی</th>
              <th>تاریخ تولد</th>
              <th>جنسیت</th>
              <th>شماره تلفن</th>
              <th>ایمیل</th>
              <th>اقدامات</th>
            </thead>
            <tbody>
              <% users.forEach(user => { %>
                <%# Create a new row for each user! %>
                <tr>
                  <td id="username"><%= user.username _%></td>
                  <td><%= user.firstName _%></td>
                  <td><%= user.lastName _%></td>
                  <td>
                    <%= new Date(user.birthdate).toLocaleDateString('fa-IR'); _%>
                  </td>
                  <td>
                    <% if (user.sex === 'male') { %>
                      <i class="fas fa-mars"></i>
                    <% } else { %>
                      <i class="fas fa-venus"></i>
                    <% } %>
                  </td>
                  <td>
                    <% if (user.phone) { %>
                      <%= user.phone _%>
                    <% } else { %>
                      خالی
                    <% } %>
                  </td>
                  <td>
                    <% if (user.email) { %>
                      <%= user.email _%>
                    <% } else { %>
                      خالی
                    <% } %>
                  </td>
                  <td>
                    <button type="button">
                      <i class="far fa-times-circle"></i>
                    </button>
                  </td>
                </tr>
              <% }); %>
            </tbody>
          </table>

        </div>
      </div>


      <!-- Articles Card -->
      <div id="articles-card" class="hidden tab-content">
        <div
          class="flex flex-wrap justify-center sm:justify-start md:mt-4 px-12"
        >

          <!-- Articles Information -->
          <table class="mt-4">
            <thead>
              <th>عنوان</th>
              <th>نویسنده</th>
              <th>تاریخ انتشار</th>
              <th>اقدامات</th>
            </thead>
            <tbody>
              <% articles.forEach(article => { %>
                <%# Create a new row for each article! %>
                <tr>
                  <td><%= article.title _%></td>
                  <td>
                    <%= article.author?.firstName %> <%= article.author?.lastName _%>
                  </td>
                  <td>
                    <%= new Date(article.publishedOn).toLocaleDateString('fa-IR'); _%>
                  </td>
                  <td>
                    <button type="button">
                      <i class="far fa-times-circle"></i>
                    </button>
                  </td>
                </tr>
              <% }); %>
            </tbody>
          </table>

        </div>
      </div>

      <!-- Comments Card -->
      <div id="comments-card" class="hidden tab-content">
        <div class="flex flex-wrap justify-center sm:justify-start">

          <!-- Comments Information -->
          <table class="mt-4">
            <thead>
              <th>عنوان مقاله</th>
              <th>متن نظر</th>
              <th>نویسنده نظر</th>
              <th>تاریخ انتشار</th>
              <th>اقدامات</th>
            </thead>
            <tbody>
              <% comments.forEach(comment => { %>
                <%# Create a new row for each comment! %>
                <tr>
                  <td><%= comment.article.title _%></td>
                  <td><%= comment.text _%></td>
                  <td>
                    <%= comment.commenter?.firstName %> <%= comment.commenter?.lastName _%>
                  </td>
                  <td>
                    <%= new Date(comment.createdAt).toLocaleTimeString('fa-IR'); %>
                    <%= new Date(comment.createdAt).toLocaleDateString('fa-IR'); _%>
                  </td>
                  <td>
                    <button type="button">
                      <i class="far fa-times-circle"></i>
                    </button>
                  </td>
                </tr>
              <% }); %>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </body>
</html>
