<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
  <head>
    <%- include('../partials/head', { title: "مقاله", description: "" }); _%>
  </head>
  <body>
    <!-- Top Navigation -->
    <%- include('../partials/header', { hasDashboard: false }); _%>

    <!-- Article Content -->
    <div id="container" class="pt-6 px-12">
      <h1 class="text-xl font-bold"><%= article.title _%></h1>

      <div id="content" class="text-md">
        <%- article.content _%>
      </div>

    </div>

    <!-- Footer -->
    <%- include('../partials/footer'); _%>
  </body>
</html>
