<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
  <head>
    <%- include('../partials/head', { title: 'پروفایل', description: '' }); %>
  </head>

  <!-- TinyMCE -->
  <script
    src="https://cdn.tiny.cloud/1/g0pbinz27xdmct0imk0up4tin6vs5wf404tp4plgoan4omkd/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"
  ></script>

  <!-- Styles -->

  <!-- Scripts -->
  <script type="module" src="/static/javascripts/dashboard.js"></script>
  <script
    type="module"
    src="/static/javascripts/dashboard-authenticate.js"
  ></script>
  <script
    type="module"
    src="/static/javascripts/dashboard-change-avatar.js"
  ></script>
  <script type="module" src="/static/javascripts/tinymce.js"></script>
  <script
    type="module"
    src="/static/javascripts/dashboard-publish-article.js"
  ></script>
  <body>
    <!-- Top Navigation -->
    <%- include('../partials/header', { hasDashboard: false }); _%>

    <div class="m-5">
      <div class="max-w-5xl rounded overflow-hidden shadow-lg m-auto">
        <!-- Card's Tob Bar -->
        <div id="top-bar" class="inline-flex w-full sticky top-0">
          <button
            id="profile-btn"
            class="tab-btn w-1/4 bg-blue-300 hover:bg-blue-400 text-blue-800 border-b-4 border-blue-500 font-bold py-2 px-4 rounded-tr"
          >
            <i class="fas fa-user-alt"></i>
          </button>
          <button
            id="articles-btn"
            class="tab-btn w-1/4 bg-green-300 hover:bg-green-400 text-green-800 border-green-500 font-bold py-2 px-4 opacity-50"
          >
            <i class="fas fa-newspaper"></i>
          </button>
          <button
            id="comments-btn"
            class="tab-btn w-1/4 bg-orange-300 hover:bg-orange-400 text-orange-800 border-orange-500 font-bold py-2 px-4 opacity-50"
          >
            <i class="fas fa-comment"></i>
          </button>
          <button
            id="exit-btn"
            class="tab-btn w-1/4 bg-red-300 hover:bg-red-400 text-red-800 font-bold py-2 px-4 rounded-tl opacity-50"
          >
            <i class="fas fa-sign-out-alt"></i>
          </button>
        </div>

        <!-- Profile Card -->
        <div id="profile-card" class="tab-content relative">
          <div id="profile-overview">
            <div
              class="flex flex-wrap justify-center sm:justify-start md:mt-4"
            >
              <!-- Profile Image -->
              <img
                id="user-avatar"
                class="w-40 h-40 mt-4 md:w-48 md:h-48 md:m-4 object-cover rounded-full"
                src="/static/images/avatars/<%= user.avatar _%>"
                alt="تصویر پروفایل <%= user.name _%>"
              />

              <!-- Profile Information -->
              <div class="px-6 py-5">
                <div id="name" class="font-bold text-2xl md:text-3xl mb-3">
                  <%= user.name _%>
                </div>
                <div class="text-md md:text-lg mb-1">
                  نام کاربری: <span id="username"><%= user.username _%></span>
                </div>
                <div class="text-md md:text-lg mb-1">
                  سن: <span id="age"><%= user.age _%></span>
                </div>
                <div class="text-md md:text-lg mb-1">
                  ایمیل: <span id="email"><%= user.email _%></span>
                </div>
                <div class="text-md md:text-lg mb-1">
                  تلفن: <span id="phone"><%= user.phone _%></span>
                </div>
              </div>
            </div>
            <div class="flex flex-wrap justify-center md:px-6 md:py-4">
              <button
                id="change-profile-avatar-btn"
                class="w-full bg-blue-500 text-white border-b-4 lg:bg-transparent lg:hover:bg-blue-500 lg:text-blue-700 lg:font-semibold lg:hover:text-white lg:border lg:border-blue-500 md:bg-blue-500 md:hover:bg-blue-700 md:text-white md:font-bold md:w-4/12 lg:w-3/12 py-3 md:py-2 px-4 md:m-2 lg:m-4 md:rounded-full"
              >
                <i class="fas fa-user-circle ml-2"></i>
                تغییر تصویر پروفایل
              </button>
              <button
                class="w-full bg-blue-500 text-white border-b-4 lg:bg-transparent lg:hover:bg-blue-500 lg:text-blue-700 lg:font-semibold lg:hover:text-white lg:border lg:border-blue-500 md:bg-blue-500 md:hover:bg-blue-700 md:text-white md:font-bold md:w-4/12 lg:w-3/12 py-3 md:py-2 px-4 md:m-2 lg:m-4 md:rounded-full"
              >
                <i class="fas fa-user-edit ml-2"></i>
                ویرایش مشخصات
              </button>
              <button
                class="w-full bg-blue-500 text-white border-b-4 lg:bg-transparent lg:hover:bg-blue-500 lg:text-blue-700 lg:font-semibold lg:hover:text-white lg:border lg:border-blue-500 md:bg-blue-500 md:hover:bg-blue-700 md:text-white md:font-bold md:w-3/12 lg:w-3/12 py-3 md:py-2 px-4 md:m-2 lg:m-4 md:rounded-full"
              >
                <i class="fas fa-user-shield ml-2"></i>
                تغییر رمز عبور
              </button>
            </div>
          </div>

          <!-- Confirm Password -->
          <form
            id="confirm-password"
            class="hidden bg-white flex flex-wrap justify-center absolute w-full h-full z-40"
            novalidate
          >
            <div class="w-full md:w-1/2 px-3 mt-8">
              <label
                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                for="password"
              >
                رمز عبور خود را برای تأیید وارد نمایید:
              </label>
              <input
                dir="ltr"
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                name="password"
                type="password"
                placeholder="******************"
                autocomplete="current-password"
                minlength="8"
                maxlength="20"
                required
              />
              <p class="error hidden text-red-500 text-xs italic mb-3"></p>
              <button
                type="submit"
                class="w-full bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 px-4 md:rounded"
              >
                تأیید رمز عبور
              </button>
            </div>
          </form>

          <!-- Profile Photo -->
          <form
            id="upload-photo"
            class="hidden flex flex-col justify-center items-center w-full pt-4 md:px-4 md:py-6"
            novalidate
          >
            <fieldset class="w-full">
              <legend class="mx-auto text-2xl font-bold px-4">
                تغییر تصویر پروفایل
              </legend>
              <p class="text-gray-600 text-sm text-center mt-3 mb-6 px-4">
                تصویر پروفایل بایستی با فرمت png یا jpg و حداکثر ۲۵۰ کیلوبایت
                باشد.
              </p>
              <img
                id="avatar-preview"
                class="object-cover rounded-full h-40 w-40 bg-gray-400 mx-auto mb-6"
                src="/static/images/avatars/<%= user.avatar _%>"
              />
              <p class="error hidden text-red-500 text-xs text-center"></p>
              <div
                class="relative w-full md:w-1/3 overflow-auto bg-blue-500 hover:bg-blue-700 mt-8 mx-auto py-2 px-4 md:rounded md:my-4"
              >
                <button
                  type="button"
                  id="upload-avatar"
                  class="block text-white font-bold z-10 mx-auto"
                >
                  بارگذاری تصویر جدید
                </button>
                <input
                  type="file"
                  id="avatar"
                  name="avatar"
                  accept="image/png, image/jpeg"
                  class="absolute top-0 left-0 text-xl cursor-pointer opacity-0 z-20"
                />
              </div>
              <div class="flex flex-col items-center">
                <button
                  id="delete-avatar"
                  type="button"
                  class="hidden w-full md:w-1/3 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 md:rounded md:my-4"
                >
                  استفاده از تصویر قبلی
                </button>
                <button
                  id="ignore-avatar"
                  type="button"
                  class="w-full md:w-1/3 bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 px-4 md:rounded"
                >
                  انصراف
                </button>
                <button
                  id="submit-avatar"
                  type="button"
                  class="hidden w-full md:w-1/3 bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 md:rounded"
                >
                  به‌روزرسانی تصویر
                </button>
              </div>
            </fieldset>
          </form>
        </div>

        <!-- Articles Card -->
        <%- include('../partials/article'); _%>

        <!-- Comments Card -->
        <div id="comments-card" class="hidden tab-content">
          <div class="flex flex-wrap justify-center sm:justify-start">
            <h1>Comments</h1>
            <img
              class="w-40 h-40 mt-4 md:w-48 md:h-48 md:m-4 object-cover rounded-full"
              src="/static/images/avatars/<%= user.avatar _%>"
              alt="Sunset in the mountains"
            />

            <div class="px-6 py-5">
              <div id="name" class="font-bold text-2xl md:text-3xl mb-3">
                <%= user.name _%>
              </div>
              <div id="username" class="text-md md:text-lg mb-1">
                نام کاربری: <%= user.username _%>
              </div>
              <div id="age" class="text-md md:text-lg mb-1">
                سن: <%= user.age _%>
              </div>
              <div id="email" class="text-md md:text-lg mb-1">
                ایمیل: <%= user.email _%>
              </div>
              <div id="phone" class="text-md md:text-lg mb-1">
                تلفن: <%= user.phone _%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
