<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
  <head>
    <%- include('../partials/head', { title: "اصلی", description: "" }); _%>

    <script type="module" src="/static/javascripts/index.js"></script>
  </head>
  <body>
    <!-- Top Navigation -->
    <%- include('../partials/header'); _%>

    <div id="container" class="lg:flex lg:justify-between pt-6 px-12">

      <!-- Article Cards -->
      <div id="articles" class="w-full lg:w-2/3">
        <h2 class="font-bold text-2xl my-2">آخرین مقالات</h2>
        <% articles.forEach(article => { %>
          <%- include('../partials/article-card', { article }); _%>
        <% }); %>
      </div>

      <!-- Comments Cards -->
      <div id="comments" class="w-full mt-8 lg:w-1/3 lg:mr-8 lg:mt-0 xl:mr-0">
        <h2 class="font-bold text-2xl mt-2 mb-4">آخرین نظرات</h2>
        <% comments.forEach(comment => { %>
          <%- include('../partials/comment-card', { comment }); _%>
        <% }); %>
      </div>

    </div>

    <!-- Footer -->
    <%- include('../partials/footer'); _%>
  </body>
</html>
