<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
  <head>
    <%- include('../partials/head', { title: 'ورود', description: '' }); %>

    <!-- Scripts -->
    <script
      type="module"
      src="/static/javascripts/login-form-validations.js"
    ></script>
  </head>
  <body>
    <!-- Top Nav -->
    <%- include('../partials/header', { hasDashboard: false }); _%>

    <div id="container" class="p-6">
      <!-- Login Form -->
      <form
        id="login"
        class="flex flex-col items-center w-full mx-auto"
        novalidate
      >
        <fieldset>
          <legend class="mx-auto mb-6 text-2xl font-bold">ورود</legend>
          <div class="flex flex-wrap -mx-3 mb-1">
            <div class="w-full px-3">
              <label
                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                for="username"
              >
                نام کاربری
              </label>
              <input
                dir="ltr"
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="username"
                name="username"
                type="text"
                placeholder="alimirzaei"
                autocomplete="username"
                minlength="3"
                maxlength="15"
                required
              />
              <p class="hidden error text-red-500 text-xs italic mb-3"></p>
            </div>
          </div>
          <div class="flex flex-wrap -mx-3 mb-3">
            <div class="w-full px-3">
              <label
                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                for="password"
              >
                رمز عبور
              </label>
              <input
                dir="ltr"
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="password"
                name="password"
                type="password"
                placeholder="******************"
                autocomplete="current-password"
                minlength="8"
                maxlength="20"
                pattern="^\S(?=.*[A-Z])(?=.*[a-z])(?=.*[!@#$&*%])(?=.*[1-9])\S+$"
                required
              />
              <p class="hidden error text-red-500 text-xs italic"></p>
            </div>
          </div>
          <div class="md:flex md:items-center mb-3">
            <label class="block text-gray-600 font-bold">
              <input id="remember-me" class="mr-2 leading-tight" type="checkbox" />
              <span class="text-sm leading-tight">
                مرا به خاطر بسپار!
              </span>
            </label>
          </div>
          <div class="md:flex md:items-center mb-3 mr-2">
            <a href="/signup" class="block text-blue-600 hover:text-blue-500 font-bold">
              <span class="text-sm leading-tight">
                حساب کاربری ندارید؟ ثبت‌نام کنید.
              </span>
            </a>
          </div>
        </fieldset>
        <p class="hidden error text-red-500 text-xs italic"></p>
        <button
          type="submit"
          class="w-48 bg-blue-500 hover:bg-blue-700 text-white font-bold mt-6 py-2 px-4 rounded"
        >
          وارد شوید
        </button>
      </form>
    </div>
  </body>
</html>
