<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
  <head>
    <%- include('../partials/head', { title: 'ثبت‌نام', description: '' }); %>

    <!-- Scripts -->
    <script
      type="module"
      src="/static/javascripts/signup-form-validations.js"
    ></script>
    <script type="module" src="/static/javascripts/input-mappings.js"></script>
    <script type="module" src="/static/javascripts/upload-avatar.js"></script>
  </head>
  <body>
    <!-- Top Navigation -->
    <%- include('../partials/header', { hasDashboard: false }); _%>

    <div id="container" class="p-6">
      <!-- Basic Information -->
      <form
        id="signup"
        class="flex flex-col items-center w-full mx-auto"
        novalidate
      >
        <fieldset>
          <legend class="mx-auto mb-6 text-2xl font-bold">ثبت‌نام</legend>

          <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <label
                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                for="firstName"
              >
                نام*
              </label>
              <input
                class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                id="firstName"
                name="firstName"
                type="text"
                placeholder="علی"
                autocomplete="given-name"
                minlength="3"
                maxlength="20"
                pattern="[^ ][ آابپتثجچحخدذرزژسشصضطظعغفقکگلمنوهیئ]+[^ ]$"
                required
              />
              <p class="error hidden text-red-500 text-xs italic"></p>
            </div>
            <div class="w-full md:w-1/2 px-3">
              <label
                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                for="lastName"
              >
                نام خانوادگی*
              </label>
              <input
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="lastName"
                name="lastName"
                type="text"
                placeholder="میرزایی"
                autocomplete="family-name"
                minlength="3"
                maxlength="20"
                pattern="[^ ][ آابپتثجچحخدذرزژسشصضطظعغفقکگلمنوهیئ]+[^ ]$"
                required
              />
              <p class="error hidden text-red-500 text-xs italic"></p>
            </div>
          </div>
          <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full px-3">
              <label
                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                for="username"
              >
                نام کاربری*
              </label>
              <input
                dir="ltr"
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="username"
                name="username"
                type="text"
                placeholder="alimirzaei"
                autocomplete="off"
                minlength="3"
                maxlength="15"
                required
              />
              <p class="error hidden text-red-500 text-xs italic"></p>
            </div>
          </div>
          <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full px-3">
              <label
                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                for="password"
              >
                رمز عبور*
              </label>
              <p class="text-gray-600 text-xs italic mb-2">
                رمز عبور بایستی حداقل ۸ کاراکتر و ترکیبی از حروف کوچک و بزرگ،
                ارقام و کاراکترهای خاص باشد.
              </p>
              <input
                dir="ltr"
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="password"
                name="password"
                type="password"
                placeholder="******************"
                autocomplete="new-password"
                minlength="8"
                maxlength="20"
                pattern="^\S(?=.*[A-Z])(?=.*[a-z])(?=.*[!@#$&*%])(?=.*[1-9])\S+$"
                required
              />
              <p class="error hidden text-red-500 text-xs italic"></p>
            </div>
          </div>
          <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full px-3">
              <label
                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                for="password-verification"
              >
                تکرار رمز عبور*
              </label>
              <input
                dir="ltr"
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="password-verification"
                name="password-verification"
                type="password"
                placeholder="******************"
                autocomplete="new-password"
                required
              />
              <p class="error hidden text-red-500 text-xs italic"></p>
              <p class="text-gray-600 hidden text-xs italic">
                رمز عبور بایستی حداقل ۸ کاراکتر و ترکیبی از حروف کوچک و بزرگ،
                ارقام و کاراکترهای خاص باشد.
              </p>
            </div>
          </div>
          <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full px-3">
              <label
                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                for="email"
              >
                ایمیل
              </label>
              <input
                dir="ltr"
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="email"
                name="email"
                type="email"
                placeholder="ali.mirzaei@gmail.com"
                pattern="[\w\.]+@\w+\.com"
              />
              <p class="error hidden text-red-500 text-xs italic"></p>
            </div>
          </div>
          <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full px-3">
              <label
                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                for="phone"
              >
                شماره همراه
              </label>
              <input
                dir="ltr"
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                id="phone"
                name="phone"
                type="tel"
                placeholder="۰۹۰۳۸۱۳۵۸۹۲"
                autocomplete="tel-national"
                pattern="[\d۰۱۲۳۴۵۶۷۸۹]{11}"
              />
              <p class="error hidden text-red-500 text-xs italic"></p>
            </div>
          </div>
          <div class="flex flex-wrap -mx-3 mb-2">
            <fieldset class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
              <legend
                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
              >
                جنسیت
              </legend>
              <label for="male">مرد</label>
              <input type="radio" id="male" name="sex" value="male" checked />

              <label for="female">زن</label>
              <input type="radio" id="female" name="sex" value="female" />
            </fieldset>
            <div class="w-full md:w-2/3 px-3 mb-6 md:mb-0">
              <label
                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                for="grid-zip"
              >
                تاریخ تولد*
              </label>
              <input
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                name="birthdate"
                id="birthdate"
                type="date"
                value="1996-01-01"
                min="1990-01-01"
                max="2015-01-01"
                autocomplete="bday"
                required
              />
              <p class="error hidden text-red-500 text-xs italic"></p>
            </div>
          </div>
        </fieldset>
        <button
          type="submit"
          class="w-full md:w-64 bg-blue-500 hover:bg-blue-700 text-white font-bold mt-6 py-2 px-4 rounded"
        >
          مرحله‌ی بعدی
        </button>
      </form>

      <!-- Profile Photo -->
      <form
        id="upload-photo"
        class="hidden flex flex-col justify-center items-center w-full mx-auto"
        novalidate
      >
        <fieldset class="w-full">
          <legend class="mx-auto text-2xl font-bold">
            تصویر پروفایل
          </legend>
          <p class="text-gray-600 text-sm text-center mt-3 mb-6">
            تصویر پروفایل بایستی با فرمت png یا jpg و حداکثر ۲۵۰ کیلوبایت باشد.
          </p>
          <img
            id="avatar-preview"
            class="object-cover rounded-full h-40 w-40 bg-gray-400 mx-auto mb-6"
            src="/static/images/avatars/default-avatar.jpg"
          />
          <p class="error hidden text-red-500 text-xs text-center"></p>
          <div
            class="relative w-full sm:w-64 overflow-auto bg-blue-500 hover:bg-blue-700 mt-6 mx-auto py-2 px-4 rounded"
          >
            <button
              type="button"
              id="upload-avatar"
              class="block w-full text-white font-bold z-10"
            >
              بارگذاری تصویر
            </button>
            <input
              type="file"
              id="avatar"
              name="avatar"
              accept="image/png, image/jpeg"
              class="absolute top-0 left-0 text-xl cursor-pointer opacity-0 z-20"
            />
          </div>
          <div class="flex flex-col items-center w-full">
            <button
              id="delete-avatar"
              type="button"
              class="hidden w-full sm:w-64 bg-blue-500 hover:bg-blue-700 text-white font-bold mx-6 py-2 px-4 rounded"
            >
              پاک‌کردن تصویر
            </button>
            <button
              id="ignore-avatar"
              type="button"
              class="w-full sm:w-64 bg-gray-600 hover:bg-gray-700 text-white font-bold mt-3 mx-6 py-2 px-4 rounded"
            >
              فعلا نه!
            </button>
            <button
              id="submit-avatar"
              type="button"
              class="hidden w-full sm:w-64 bg-green-600 hover:bg-green-700 text-white font-bold mt-3 mx-6 py-2 px-4 rounded"
            >
              ثبت تصویر
            </button>
          </div>
        </fieldset>
      </form>
    </div>
  </body>
</html>
